= render 'shared/errors', object: @fraud

= form_for [:admin, @fraud], html: { class: "form-horizontal", autocomplete: "off", multipart: true } do |f|
  %fieldset
    = f.hidden_field :fraud_type_id
    = f.fields_for :properties, OpenStruct.new(@fraud.properties) do |builder|
      - @fraud.fraud_type.fields.each do |field|
        = render "frauds/fields/#{field.field_type}", field: field, f: builder
        %br
    .control-group
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title, class: 'span3'
    .control-group
      = f.label :description, class: 'control-label'
      .controls
        = f.text_area :description, rows: 4, class: 'span6'
    .control-group
      = f.label :fraud_date, class: 'control-label'
      .controls
        = f.text_field :fraud_date, class: 'span3 fraud_date'
    .control-group
      = f.label :status, class: 'control-label'
      .controls
        = f.select :status, options_for_select((1..4).map {|num| [num, "Status"]})
    .span4.offset2
      - @fraud.images.each do |image|
        %img.img-rounded(src= "#{image.image}")
  %fieldset.actions.control-group
    .controls
      = f.submit "Approve", class: 'btn'