.container
  %p.alert
    You can
    %strong Log In
    if you already have an account
.content
  .row
    .span6.offset2
      = render 'shared/errors', object: @user
  #sign-up-social.span5.offset1
    %h6 Sign Up with Social Networks
    %p
      You can Log In if you already have an account.
    %button.btn.btn-social-twitter.btn-lnger
      %i.fui-twitter
      Sign Up with Twitter
    %button.btn.btn-social-facebook.btn-lnger
      %i.fui-facebook
      Sign Up with Facebook
  #sign-up-email.span5.offset1
    %h6 Sign Up with Email
    = form_for @user, html: { autocomplete: "off" } do |f|
      .form-group
        = f.text_field :full_name, class: "form-control", placeholder: "Full Name"
      .form-group
        = f.text_field :email, class: "form-control", placeholder: "Email"
      .form-group
        = f.text_field :password, class: "form-control", placeholder: "Password"
      .form-group
        %button.btn.btn-default.btn-wide Sign Up