%header.top
  %hgroup
    %nav
      %ul.primary_nav_right
        %li.selected
          = link_to "home", root_path
        - unless current_user
          %li
            = link_to "regsiter", new_identity_path
        %li
          = link_to "Report Fraud!", report_fraud_path
        - if current_user
          %li
            = link_to "Welcome, #{current_user.name}", ''
        - if current_user
          %li
            = link_to "sign out", sign_out_path
        - else
          %li
            = link_to "sign in", sign_in_path